body {
    padding-top: 200px;
}

h1 {
    text-align: center;
}

p {
    margin-top: 150px;
    text-align: justify;
    margin-right: 600px;
}

img {
    float: left;
    margin-left: 500px;
    margin-right: 20px;
    width: 300px;
    height: 400px
}